{% extends 'base.html.twig' %}

{% block title %}Francais{% endblock %}

{% block body %}
    <h1>Francais</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ francai.id }}</td>
            </tr>
            <tr>
                <th>Classe</th>
                <td>{{ francai.classe }}</td>
            </tr>
            <tr>
                <th>Mot</th>
                <td>{{ francai.mot }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_francais_index') }}">back to list</a>

    <a href="{{ path('app_francais_edit', {'id': francai.id}) }}">edit</a>

    {{ include('francais/_delete_form.html.twig') }}
{% endblock %}
