{% extends 'base.html.twig' %}

{% block title %}Arabe{% endblock %}

{% block body %}
    <h1>Arabe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ arabe.id }}</td>
            </tr>
            <tr>
                <th>Classe</th>
                <td>{{ arabe.classe }}</td>
            </tr>
            <tr>
                <th>Mot</th>
                <td>{{ arabe.mot }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ arabe.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_arabe_index') }}">back to list</a>

    <a href="{{ path('app_arabe_edit', {'id': arabe.id}) }}">edit</a>

    {{ include('arabe/_delete_form.html.twig') }}
{% endblock %}
